:root {
    --var-primary-color: #790000;
    --var-burlywood-color: #FFCF8C;
    --var-text-color: #000;
    --var-shadow: rgba(0, 0, 0, 0.5);
    --var-light-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
}

body {
    background-color: var(--var-primary-color);
}

.front-page {
    text-align: center;
    border: 1rem double var(--var-primary-color);
    margin: 4rem 10rem;
    padding: 4rem 10rem 20rem;
    background-color: var(--var-burlywood-color);
}

.front-page h1 {
    font-size: 4rem;
    text-decoration: overline underline;
    margin-bottom: 4rem;
}

.recipe-links nav ul {
    list-style: none;
    padding: 0;
}

.recipe-links a {
    text-decoration: none;
    font-weight: 700;
    color: var(--var-text-color);
    text-shadow: 1px 1px 2px var(--var-shadow);
    transition: color 0.3s ease-in-out;
}

.recipe-links a:hover {
    color: var(--var-light-color);
}

.recipe-details {
    background-color: var(--var-burlywood-color);
    margin: 2rem;
    padding: 2rem;
    text-align: center;
}

.recipe-title {
    font-size: 2rem;
    text-decoration: underline;
    margin-bottom: 2rem;
    text-shadow: 1px 1px 2px var(--var-shadow);
}

img {
    border: 0.6rem double var(--var-primary-color);
    background: var(--var-light-color);
    margin-bottom: 2rem;
}

.recipe-image {
    width: 100%;
    max-width: 300px;
    height: auto;
}

p {
    margin: 2rem;
}

.recipe-steps {
    background-color: var(--var-light-color);
    padding: 2rem;
    text-align: left;
    font-style: italic;
}