* {
    text-align: center;
    font-family: Georgia, "Times New Roman", Verdana;
    list-style-position: inside;
    font-size: 24px;
    background-color: burlywood;
}

h1 {
    background-color: rgb(180, 180, 216);
    color: rgb(180, 0, 0);
    font-size: 40px;
    outline-style: double;
    outline-color: black;
}

